<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Comidas caseras, saludables y económicas a domicilio en CABA, recibí en menos de 48 hs! Hacé tu pedido vía web o WhatsApp">
    <meta name="keywords" content="comida, casera, domicilio, envio, CABA, postres, delivery, rapido, saludable">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/64b155cc88.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Piazzolla:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">
    <title>Comidas - Home Taste | Comidas caseras a domicilio</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md fixed-top navbar-dark">
            <h3 class="navlogo navbar-brand m-1 font-weight-bold">Home Taste</h3>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse justify-content-end navbar-collapse" id="collapsibleNavbar">
                <ul class="m-1 navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="../index.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="quienessomos.html">Quiénes somos</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                          Productos
                        </a>
                        <div class="dropdown-menu border-top-0 animate__animated animate__fadeInDown">
                          <a class="dropdown-item" href="comidas.html">Comidas</a>
                          <a class="dropdown-item" href="postres.html">Postres</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="envios.html">Envíos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contacto.html">Contacto</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container-fluid">
        <section class="mt-5 pt-5">
        <h2 class="titulo font-weight-bold text-center">Comidas</h2>
        </section>
        <div class="card-deck m-5 pt-2">
            <div class="card">
                <img src="../img/lentejas3.jpg" class="card-img-top" alt="guiso">
                <div class="card-body">
                    <h5 class="card-title">Guiso de lentejas</h5>
                    <p class="card-text">Nuestro guiso de lentejas se destaca por su incomparable sabor, dejando ver el amor que hay detrás de cada uno de nuestros platos. Podés pedirlo con arroz o simple.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Precio: $350 la porción (abundante).</small>
                </div>
            </div>
            <div class="card">
                <img src="../img/filet.jpg" class="card-img-top" alt="filet">
                <div class="card-body">
                    <h5 class="card-title">Filet de merluza</h5>
                    <p class="card-text">Nuestro filet de merluza está rebozado en pan rallado y con opción de ser saborizado con mostaza. La porción es una bandeja de 500 gr.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Precio: $500 la bandeja.</small>
                </div>
            </div>
            <div class="card">
                <img src="../img/canelones.jpg" class="card-img-top" alt="canelones">
                <div class="card-body">
                    <h5 class="card-title">Canelones</h5>
                    <p class="card-text">Nuestros canelones están rellenos de espinaca, acelga y pollo. Incluyen salsa de estofado, bolognesa o blanca.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Precio: $80 c/u. Extra salsa: $40.</small>
                </div>
            </div>
        </div>
        
        <div class="card-deck m-5 pt-2">
            <div class="card">
                <img src="../img/lentejas3.jpg" class="card-img-top" alt="guiso">
                <div class="card-body">
                    <h5 class="card-title">Guiso de lentejas</h5>
                    <p class="card-text">Nuestro guiso de lentejas se destaca por su incomparable sabor, dejando ver el amor que hay detrás de cada uno de nuestros platos. Podés pedirlo con arroz o simple.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Precio: $350 la porción (abundante).</small>
                </div>
            </div>
            <div class="card">
                <img src="../img/filet.jpg" class="card-img-top" alt="filet">
                <div class="card-body">
                    <h5 class="card-title">Filet de merluza</h5>
                    <p class="card-text">Nuestro filet de merluza está rebozado en pan rallado y con opción de ser saborizado con mostaza. La porción es una bandeja de 500 gr.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Precio: $500 la bandeja.</small>
                </div>
            </div>
            <div class="card">
                <img src="../img/canelones.jpg" class="card-img-top" alt="canelones">
                <div class="card-body">
                    <h5 class="card-title">Canelones</h5>
                    <p class="card-text">Nuestros canelones están rellenos de espinaca, acelga y pollo. Incluyen salsa de estofado, bolognesa o blanca.</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Precio: $80 c/u. Extra salsa: $40.</small>
                </div>
            </div>

        </div>
    </div>

    <footer>
        <h3 class="footer__logo">Home Taste</h3>
        <a href="#"><i class="icono fab fa-instagram"></i></a>
        <a href="#"><i class="icono fab fa-facebook"></i></a>
        <a href="#"><i class="icono fab fa-whatsapp"></i></a>
        <div>
            <ul>
                <li class="font-weight-bold">HORARIO DE ENTREGAS:</li>
                <li>Lun a Vier 17 pm-22 pm</li>
                <li>Sab y Dom 11 am-15 pm</li>
              </ul>
        </div>
    </footer>
</body>
</html>